.forecast-container
    margin-top 30px
    display flex
    justify-content center

.navigation
    margin-top 50px
    text-align center

.btn-switch-mode
    cursor pointer
    margin-right 10px
    border none
    background-color #fff
    color #2a5fad
    font-size 14px
    margin-right 20px
    text-decoration none
    letter-spacing 1px

.btn-switch-mode:hover
    text-decoration underline