.recent-container {
    margin-top: 50px;
}

.recent-container > div {
    text-align: center;
}

.btn-remove {
    margin-left: 20px;
    border: none;
    background-color: white;
    color: #e04848;
    cursor: pointer;
}