<div class="forecast-container">
    <div class="info-panel">
        <div class="info">
            <div class="city">{{ weather?.city }} | {{ getCurrentTime() }}</div>
            <div class="temperature">{{ weather?.temperature }}</div>
            <div class="description">
                {{ weather?.weatherKind }} ({{ weather?.description }})
            </div>
            <div class="param-info">Wind speed: {{ weather?.windSpeed }}</div>
            <div class="param-info">Real feel: {{ weather?.realFeel }}</div>
            <div class="param-info">Pressure: {{ weather?.pressure }}</div>
            <div class="param-info">Humidity: {{ weather?.humidity }}</div>
        </div>
    </div>
</div>
