.info-panel {
    border-radius: 5px;
    margin: 0 10px;
    background-color: #4dbbeb;
    color: #fff;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.info {
    padding: 15px;
}

.info>div {
    margin-top: 5px;
    letter-spacing: 0.5px;
}

.temperature {
    display: block;
    font-size: 48px;
}

.city {
    font-size: 20px;
}

.weather-icon {
    height: 50px;
    width: 50px;
}

.description {
    font-size: 18px;
}