.request-container
    display flex
    justify-content center
    height 60vh
    align-items center

.btn-show
    color #fff
    background-color #5d7aaf
    border 1px solid #2a5fad
    display block
    margin auto
    width 80px
    height 25px
    border-radius 5px
    cursor pointer
    margin-top 20px

.btn-show:hover
    background-color #4a628e

.btn-show:active
    background-color #3c4f73

.search
    min-width 200px
    border 1px solid #dde2eb
    border-radius 10px
    height 25px
    text-indent 10px